eff_file:
  # path: "/home/laurits/tmp/produceTallinnTaus_ggH_htt_DNN_2022Mar18_NANOAODSIM.root"
  path: "/home/laurits/tmp34/val/produceTallinnTaus_ggH_htt_gnn_2022Mar20_NANOAODSIM.root"
  # path: "/home/laurits/tmp34/train/produceTallinnTaus_ggH_htt_gnn_2022Mar22_sigtrain_NANOAODSIM.root"
  # path: "/home/laurits/tmp/produceTallinnTaus_ggH_htt_gnn_2022Mar20_NANOAODSIM.root"
  # path: "/hdfs/local/veelken/gnnTauReco/produceTallinnTaus_ggH_htt_DNN_2022Mar18_NANOAODSIM"
  sample_name: "ggH_htt"
  tree: "Events"
fakes_file:
  sample_name: "QCD"
  # path: "/hdfs/local/veelken/gnnTauReco/produceTallinnTaus_qcd_DNN_2022Mar18_NANOAODSIM.root"
  # path: "/home/laurits/tmp/produceTallinnTaus_qcd_DNN_2022Mar18_NANOAODSIM.root"
  path: "/home/laurits/tmp34/val/produceTallinnTaus_qcd_gnn_2022Mar20_NANOAODSIM.root"
  # path: "/home/laurits/tmp34/train/produceTallinnTaus_qcd_gnn_2022Mar22_sigtrain_NANOAODSIM.root"
  # path: "/home/laurits/tmp/produceTallinnTaus_qcd_gnn_2022Mar20_NANOAODSIM.root"
  tree: "Events"
genTau: GenVisTau
fakes:
  genElectron: GenPart
  genMuon: GenPart
  genJet: GenJet
  recoJet: Jet
comparison_tau: tallinnTau
output_dir: /home/laurits/tmp
do_eff: true
do_fake: false
quality_cuts:
  genTau:
    pt: 20
    eta: 2.3
defaults:
    - TauID_eff
    - TauID_fake
    - TauDM_reco
    - matching
    - comparisons
    - allVariables
    - _self_